body {
    margin: 0;
    background: #f7f7f7;
}


.initial-message {
    text-align: center;
    font-size: 42px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.number-input {
    margin-top: 100px;
}