.show-numbers {
	text-align: center;
}

.show-numbers > span {
	display: inline-block;
	padding: 10px 15px;
	background: #fff;
	border: solid 1px #d2d2d2;
	margin: 2px 5px;
	font-size: 40px;
	color: #333;
	font-family: sans-serif;
}
.show-numbers > span:last-child {
	border-color : #777;
	animation-name: flash;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0.3;
  }
}